name: "Testing Workflow"

on: 
  # Add PR for faster feedback during developement
  push:
    branches:
      - main

  # Configure Status check
  # Settings > Branches > Add classic branch protection rule
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  test:
    # Add a specific version to avoid unexpected changes in environement.
    runs-on: ubuntu-22.04
    environment: ci
    # Env variable to be passed to python code.
    env:
      MONGO_USER: ${{ vars.MONGO_INITDB_ROOT_USERNAME }}
      MONGO_PASSWORD: ${{ secrets.MONGO_INITDB_ROOT_PASSWORD }}
      MONGO_HOST: "localhost"
      MONGO_DB: "noteappdb"

    services:
      # Service name
      mongotester:
        # MAJOR.MINOR.PATCH
        image: mongo:7.0
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: ${{ vars.MONGO_INITDB_ROOT_USERNAME }}
          MONGO_INITDB_ROOT_PASSWORD: ${{ secrets.MONGO_INITDB_ROOT_PASSWORD }}
          MONGO_INITDB_DATABASE: noteappdb

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install httpx[http2]
        pip install -r ./dockerfiles/backend/app/requirements.txt

    - name: Download wait-for-it.sh
      run: |
        curl -o wait-for-it.sh https://raw.githubusercontent.com/vishnubob/wait-for-it/master/wait-for-it.sh
        chmod +x wait-for-it.sh

    - name: Wait for MongoDB Service
      run: ./wait-for-it.sh localhost:27017 --timeout=30 --strict

    - name: Show Mongo logs
      if: failure()
      run: |
        docker ps -a
        echo "--------------------------------------------------"
        docker logs $(docker ps -q --filter "ancestor=mongo")

    - name: Run API Tests
      run: |
        cd ./dockerfiles/backend
        pytest -q --maxfail=1 --disable-warnings