name: "Testing Workflow"

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    environment: ci

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    services:
      mongotester:
        image: mongo
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_ROOT_USERNAME: ${{ vars.MONGO_INITDB_ROOT_USERNAME }}
          MONGO_INITDB_ROOT_PASSWORD: ${{ secrets.MONGO_INITDB_ROOT_PASSWORD }}
          MONGO_INITDB_DATABASE: noteappdb